<h1>Current Customers</h1>
 

<%= link_to 'New Customer', new_person_path %>

<table>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Job Site </th>
    <th>Attn </th>
    <th>Tel</th>
    <th>Email</th>
    <th>
    <th colspan="2"></th>
  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= person.customer %></td>
      <td><%= person.date %></td>
      <td><%= person.jobsite %></td>
      <td><%= person.attn %></td>
      <td><%= person.phone %></td>
      <td><%= person.email %></td>
      <td><%= link_to 'Show', person_path(person) %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Delete', person_path(person), method: :delete, data:{confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', home_index_path %>