<h1> New Customer - Personal Information </h1>

<%= form_with scope: :person , url: people_path, local: true do |form| %>
    <% if  @person.errors.any? %>
        <div id = "error_explanation">
            <h2>
                <%= pluralize(@person.errors.count, "error") %> prohibits you from continuing:
            </h2>
            <ul>
                <% @person.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        
    <% end %>

    <p>
        <%= form.label :customer, "Customer" %><br>
        <%= form.text_field :customer %>
    </p>

    <p>
        <%= form.label :date, "Date" %><br>
        <%= form.text_field :date %>
    </p>
    
    <p>
        <%= form.label :jobsite, "Job Site" %><br>
        <%= form.text_field :jobsite %>
    </p>

    <p>
        <%= form.label :attn, "ATTN" %><br>
        <%= form.text_field :attn %>
    </p>

    <p>
        <%= form.label :phone, "Tel" %><br>
        <%= form.text_field :phone %>
    </p>
    
    <p>
        <%= form.label :email, "Email" %><br>
        <%= form.text_field :email %>
    </p>

    
    <p>
        <%= submit_tag("Submit") %>
    </p>

<% end %>


<%= link_to 'Back', people_path %>