<p>
    <strong> First Name: </strong>
    <%= @person.firstname %>
</p>

<p>
    <strong> Last Name: </strong>
    <%= @person.lastname %>
</p>

<p>
    <strong> Email: </strong>
    <%= @person.email %>
</p>

<p>
    <strong> Tel: </strong>
    <%= @person.phone %>
</p>

<%= link_to 'Back', people_path %>